
html,body{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  background: #29606b;
}

.body-inner {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}



h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

.first-section{
  height: 600px;
  width: 100%;
  background: url(../images/backgr.png) no-repeat;
  background-size: cover;
}

.f-s-inner{
  width: 95%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
  position: absolute;
  top: 0;
  width: 100%;
}

.header{
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  border: 1px solid #2a6c78;
  border-top: none;
  display: flex;
  height: 75px;
  backdrop-filter: blur(10px);
}

.header-inner{
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo{
  color: white;
  font-size: 25px;
}

.header-nav{
  display: flex;
}

.header-nav a{
  color: white;
  padding-left: 15px;
  font-size: 17px;
}

.f-s-banner{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.f-s-banner h1{
  color: white;
  font-size: 41px;
}

.f-s-banner h2{
  color: white;
  font-size: 31px;
  padding: 15px 0;
}

.submit{
	position: relative;
	width: 102px;
	height: 36px;
	background: #245963;
	border: 1px solid #387d89;
	text-transform: uppercase;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: transparent;
}

.triangle__left_submit{
	position: absolute;
	left: -1px;
	border: 1px solid #387d89;
	width: 42.7%;
	margin-top: 10px;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	bottom: 0px;
}

.triangle__right_submit{
	position: absolute;
	right: -1px;
	border: 1px solid #387d89;
	width: 42.6%;
	margin-top: 10px;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	bottom: 0px;
}

.triangle_submit{
	position: absolute;
	width: 11.5px;
	height: 11.5px;
	border: 1px solid #387d89;
	border-width: 1px 0 0 1px;
	transform: rotate(225deg);
	bottom: -6px;
	background: #245963;
}

.f-s-btn{
	position: relative;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    padding: 11.5px 32.9px;
    font-size: 17px;
    border-bottom: transparent;
}

.triangle__left{
	position: absolute;
	left: -2px;
	border: 2px solid white;
	width: 62px;
	margin-top: 10px;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
}

.triangle__right{
	position: absolute;
	right: -2px;
	border: 2px solid white;
	width: 62.7px;
	margin-top: 10px;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
}

.triangle{
	position: absolute;
	width: 11.5px;
	height: 11.5px;
	border: 2px solid white;
	border-width: 2px 0 0 2px;
	transform: rotate(225deg);
	left: 62px;
	bottom: -7px;
}

.second-selection{
  position: relative;
  top: -80px;
  height: 675px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.second-selection-box{
  display: flex;
  align-items: center;
  white-space: pre-line;
  width: 50%;
  background-color: red;
}

.s-s-box-inner{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-s-box-inner img{
  padding-bottom: 30px;
}

.s-s-box-inner h1{
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: center;
  font-size: 29px;
}

.third-selection{
	margin-top: 40px;
}

.third-selection h1{
  color: white;
  font-size: 29px;
  text-align: center;
  text-transform: uppercase;
}

.third-selection h2{
  color: white;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.third-selection h2:before,
.third-selection h2:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 120px;
	height: 1px;
	background: #387d89;
	border: solid #387d89;
	border-width: 0 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.third-selection h2:before {
	margin-left: -100%;
}
.third-selection h2:after {
	margin-right: -100%;
}

.t-h-btn{
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  width: 102px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 15px;
}

.t-h-btn.red::after{
	position: absolute;
	content: "";
    border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 10px solid #e84c3d;
	bottom: -10.4px;
}

.t-h-btn.yellow::after{
	position: absolute;
	content: "";
    border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 10px solid #fdbd1f;
	bottom: -10.4px;
}

.t-h-btn.green::after{
	position: absolute;
	content: "";
    border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 10px solid #1bbc9b;
	bottom: -10.4px;
}

.t-h-btn.red{
  background: #e84c3d;
}

.t-h-btn.yellow{
  background: #fdbd1f;
}

.t-h-btn.green{
  background: #1bbc9b;
}

.third-selection{
  width: 100%;
}

.t-h-selection{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.third-selection-box{
  background-color: #245963;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(92%/3);
  height: 497px;
}

.third-selection-box.red{
  border-top: 7px solid #e84c3d;
}

.third-selection-box.yellow{
  border-top: 7px solid #fdbd1f;
}

.third-selection-box.green{
  border-top: 7px solid #1bbc9b;
}

.third-selection-box p{
  font-size: 16px;
  color: #76b2be;
  font-family: 'Source Sans Pro', sans-serif;
  white-space: pre-line;
}

.third-selection-box img{
  width: 181px;
  height: 181px;
  border-radius: 50%;
  margin-top: 44px;
}


.s-s-box-inner p{
  color: white;
  text-align: center;
  font-size: 16px;
}

.second-selection-box.red{
  background-color: #e84c3d;
}

.second-selection-box.yellow{
  background: #fdbd1f;
}

.second-selection-box.blue{
  background: #1bbc9b;
}

.second-selection-box.violet{
  background: #9b58b5;
}

.fourth-selection{
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fourth-selection img{
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

.fourth-selection h1{
  text-transform: uppercase;
  color: white;
  font-size: 29px;
  text-align: center;
}

.fourth-selection h2{
  margin: 0 auto;
  text-transform: uppercase;
  color: white;
  font-size: 21px;
  text-align: center;
  padding-top: 10px;
}

.fourth-selection h2:before,
.fourth-selection h2:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 80px;
	height: 1px;
	background: #387d89;
	border: solid #387d89;
	border-width: 0 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.fourth-selection h2:before {
	margin-left: -100%;
}
.fourth-selection h2:after {
	margin-right: -100%;
}

.fs-inputs-container{
  padding-top: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form{
  width: 100%;
}

.fs-inputs-container input{
  height: 45px;
  width: 48%;
  background: #245963;
  border: 1px solid #387d89;
  color: white;
}

*:focus{
  outline: none;
}

.fs-textarea{
  margin-top: 30px;
  height: 135px;
  resize: none;
  width: 100%;
  background: #245963;
  border: 1px solid #387d89;
  color: white;
}

.footer-block{
	margin-top: 91px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 200px;
	background-color: #245963;
	font-family: 'Source Sans Pro', sans-serif;
}

.line:before,
.line:after {
	display: flex;
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 150px;
	height: 1px;
	background: #387d89;
	border: solid #387d89;
	border-width: 0 10px;
	margin-top: 44px;
}

.contact{
	display: flex;
    justify-content: center;
    align-items: center;
	color: white;
}

.contact .email{
	font-size: 15px;
	margin-right: 20px;
}

.contact img{
	width: 36px;
	height: 36px;
	margin-left: 10px;
}

.contact .phone{
	font-size: 15px;
	margin-left: 20px;
}

.footer-block .author{
	display: flex;
	justify-content: center;
	margin-top: 44px;
	color: white;
	font-size: 16px;
}

.author .yellow{
	color: #fdbd1f;
	margin-left: 3px;
	margin-right: 3px;
}
